.modal {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-primary);
  pointer-events: none;
  transition: all 1s;
}
.modal .contact-form-response {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}
.modal .contact-form-response svg {
  margin-top: 4rem;
  width: 4rem;
  height: 4rem;
}
.none {
  display: none;
}
